<!DOCTYPE html>
<html>
<head>
	<title>圈社区</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<link rel="stylesheet" type="text/css" href="static/css/base.css">

	<script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    <li>
                      <a href="#fakelink">
                        圈社区
                      </a>
                    </li>
                    <li class="active">
                      <a href="#fakelink">
                        首页
                       
                      </a>
           
                    </li>
                    <li>
                      <a href="#fakelink">
                        关于我们
                      </a>
                    </li>
                  </ul>

                </div><!--/.nav -->
              </div>
            </div>
          </div>



	<div class="container">
		<div class="row show-grid">
			<div class="span12 row-h7  radius-div map" style="
				background: #ccc">
				<div class="shequ-detail-info radius-div shadow">
					<h3>美林小城</h3>
				</div>
					
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row ">
			<div class="span9 bbs-div">
				<div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
						    <li class="active"><a href="#tab1" data-toggle="tab">社区首页</a></li>
						    <li><a href="#tab2" data-toggle="tab">成员</a></li>
					  </ul>

					  <div class="tab-content">
						    <div class="tab-pane active bbs-info" id="tab1">
						      	<div class="bbs-notice radius-div">
						      		<div class="info1">
						      			<p><small>甜蜜的女性色彩为主色调，像儿时收集的糖纸。简单说糖果色就是各种颜色的艳色，明亮显眼的颜色，就像青春般灿烂、美丽、多彩。最爱糖果色！</small></p>
						      		</div>
						      		<div class="info2">
							      		<span>
							      			<button class="btn btn-info">加入社区</button>
							      			已有99位居民
							      		</span>
						      		</div>

						      	</div>
						      	<div class="bbs-list-menu"></div>
						      	<ul class="bbs-list">
						      		<li class="item">
						      			<div class="item-left">
						      				<div class="title"><a href="">看我的韩版潮流糖果色果冻包</a></div>
						      				<p>用户名</p>
						      			</div>
						      			<div class="item-right">
						      				<div class="count">4</div>
						      				<span class="date">07月08日 22:57</span>
						      			</div>
						      			
						      		</li>
						      		<li class="item">
						      			<div class="item-left">
						      				<div class="title"><a href="">看我的韩版潮流糖果色果冻包</a></div>
						      				<p>用户名</p>
						      			</div>
						      			<div class="item-right">
						      				<div class="count">4</div>
						      				<span class="date">07月08日 22:57</span>
						      			</div>
						      			
						      		</li>
						      		<li class="item">
						      			<div class="item-left">
						      				<div class="title"><a href="">看我的韩版潮流糖果色果冻包</a></div>
						      				<p>用户名</p>
						      			</div>
						      			<div class="item-right">
						      				<div class="count">4</div>
						      				<span class="date">07月08日 22:57</span>
						      			</div>
						      			
						      		</li>
						      		<li class="item">
						      			<div class="item-left">
						      				<div class="title"><a href="">看我的韩版潮流糖果色果冻包</a></div>
						      				<p>用户名</p>
						      			</div>
						      			<div class="item-right">
						      				<div class="count">4</div>
						      				<span class="date">07月08日 22:57</span>
						      			</div>
						      			
						      		</li>

						      	</ul>

						      	<div class="pagination pagination-centered">
								  <ul>
								    <li><a href="#">Prev</a></li>
								    <li><a href="#">1</a></li>
								    <li><a href="#">2</a></li>
								    <li><a href="#">3</a></li>
								    <li><a href="#">4</a></li>
								    <li><a href="#">5</a></li>
								    <li><a href="#">Next</a></li>
								  </ul>
								</div>
						    </div>
						    <div class="tab-pane bbs-info" id="tab2">
						      	<ul class="user-table">
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>
						      		<li>
						      			<p>
						      				<a href=""><img src="img/boy.jpg"></a>
						      				
						      			</p>
						      			<p  class="user-name"><span>test</span></p>
						      		</li>

						      	</ul>	
						      	<div class="pagination pagination-centered">
								  <ul>
								    <li><a href="#">Prev</a></li>
								    <li><a href="#">1</a></li>
								    <li><a href="#">2</a></li>
								    <li><a href="#">3</a></li>
								    <li><a href="#">4</a></li>
								    <li><a href="#">5</a></li>
								    <li><a href="#">Next</a></li>
								  </ul>
								</div>
						    </div>
					  </div>
				</div>
			</div>
			<div class="span3">
				<div class="div-block row-h2 radius-div">
					<h3 class="block-title">加入社区</h3>
					<button class="btn btn-block btn-large btn-primary">加入社区</button>
				</div>
				<div class="div-block row-h5">
					<h3 class="block-title">社区管理员</h3>
					<ul class="user-block">
						<li>
							<p><a href=""><img class="img-rounded" src="http://s6.mogujie.cn/b7/avatar/130317/dfv3_kqyu6us2njbdoqkugfjeg5sckzsew_1024x576.jpg_100x100.jpg"></a></p>
							<p class="uname">sss</p>
							<p class="utitle">sss</p>
						</li>
						<li>
							<p><a href=""><img  class="img-rounded" src="http://s6.mogujie.cn/b7/avatar/130317/dfv3_kqyu6us2njbdoqkugfjeg5sckzsew_1024x576.jpg_100x100.jpg"></a></p>
							<p class="uname">sss</p>
							<p class="utitle">sss</p>
						</li>
					</ul>

				</div>
				<div class="div-block row-h2">
					<h3 class="block-title">公告栏</h3>
					<ul class="with-icon-ul-list">
						<li>
							<span class="fui-volume"></span>
							<a href="#">asdfasdfadf</a>
						</li>
						<li>
							<span class="fui-volume"></span>
							<a href="#">asdfasdfadf</a>
						</li>
						<li>
							<span class="fui-volume"></span>
							<a href="#">asdfasdfadf</a>
						</li>
					</ul>
				</div>
				<div class="div-block row-h4">
					<h3 class="block-title">24小时最热</h3>
					<ol class="hot-list-hour">
						<li>
							<span class="list list0"></span>
							
							<a href="">adfafadfadfa</a>
							<span>1234人</span>
						</li>
						<li>
							<span class="list list0"></span>
							<a href="">adfafadfadfa</a>
							<span>1234人</span>
						</li>
						<li>
							<span class="list list0"></span>
							<a href="">adfafadfadfa</a>
							<span>1234人</span>
						</li>
						<li>
							<span class="list list0"></span>
							<a href="">adfafadfadfa</a>
							<span>1234人</span>
						</li>
					</ol>
				</div>
			
			</div>
			
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<ul class="footer-links">
				<li>
					<a href="./about.html" target="_blank">关于</a>
				</li>
				<li class="muted">·</li>
				<li>
					<a href="https://github.com/twitter/bootstrap/issues?state=open" target="_blank">问题反馈</a>
				</li>
				<li class="muted">·</li>
				<li>
					<a href="http://www.miibeian.gov.cn/" target="_blank">ICP备11008151号</a>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>