<!DOCTYPE html>
<html>
<head>
  <title>圈社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

</head>
<body>
  <div class="navbar  navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">圈社区</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#about">关于我们</a>
            </li>
            <li>
              <a href="#contact">联系我们</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse --> </div>
    </div>
  </div>

  <!--banner-->
  <div class="container">
    <div class="row show-grid">
      <div class="span2 row-h1"></div>
      <div class="span10 row-h1"></div>
    </div>
  </div>
  <!--正文-->

  <div class="container">
    <div class="row  show-grid">
      <div class="span4 row-h3"></div>
      <div class="span4 row-h3"></div>
      <div class="span4 row-h3"></div>
    </div>
  </div>

  <div class="container">
    <div class="row show-grid">
      <div class="span12 row-h1"></div>

    </div>
  </div>

  <div class="container">
    <div class="row show-grid">
      <div class="span8 row-h3"></div>
      <div class="span4 row-h3"></div>

    </div>
  </div>

  <div class="container">
    <div class="row show-grid">
      <div class="span12 row-h1"></div>

    </div>
  </div>
  <div class="container">
    <div class="row show-grid">
      <div class="span8 row-h4">

        <div class="row show-grid">
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
        </div>
        <div class="row show-grid">
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
          <div class="span2"></div>
        </div>
      </div>
      <div class="span4 row-h4"></div>

    </div>
  </div>

  <footer class="footer">
    <div class="container">

      <ul class="footer-links">
        <li>
          <a href="./about.html" target="_blank">关于</a>
        </li>
        <li class="muted">·</li>
        <li>
          <a href="https://github.com/twitter/bootstrap/issues?state=open" target="_blank">问题反馈</a>
        </li>
        <li class="muted">·</li>

        <li>
          <a href="http://www.miibeian.gov.cn/" target="_blank">ICP备11008151号</a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>